<script type="text/javascript">
// <![CDATA[
var hideDetails = '{LA_HIDEDETAILS}';
var showDetails = '{LA_SHOWDETAILS}';
var userDetails = '{LA_USERDETAILS}';
var imageOpen = '{ROOT_PATH}images/open.png';
var imageClose = '{ROOT_PATH}images/close.png';
$(function(){
	var cache = [];
	// Arguments are image paths relative to the current page.
	$.preLoadImages = function() {
		var args_len = arguments.length;
		for (var i = args_len; i--;) {
		  var cacheImage = document.createElement('img');
		  cacheImage.src = arguments[i];
		  cache.push(cacheImage);
		}
	};
	$.preLoadImages(imageOpen, imageClose);

	$('dl.postprofile').each(function(){
		$(this).children("dd").hide('fast');
		var nextdt = $(this).children('dt');
		$('<dd class="hide_profile"><strong>' + userDetails + ':</strong> <img src="' + imageOpen + '" alt="' + showDetails + '" title="' + showDetails + '" height="16px" width="16px" /></dd><dd>&nbsp;</dd>').insertAfter(nextdt);
	});
	$('dd.hide_profile').each(function(){
		$(this).css('cursor', 'pointer');
		$(this).click(function(){
			if($('img', this).attr('src') == imageOpen)
			{
				$(this).closest('dl').children("dd:not(.hide_profile)").slideDown('slow');
				$('img', this).attr('src',imageClose).attr('title', hideDetails).attr('alt', hideDetails);
			}
			else
			{
				$(this).closest('dl').children("dd:not(.hide_profile)").slideUp('fast');
				$('img', this).attr('src',imageOpen).attr('title', showDetails).attr('alt', showDetails);
			}
		});
	});
});

// ]]>
</script>